html {
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    line-height: 1.4em;
}


/*
 * Remove the gap between canvas, images and the bottom of their containers:
 */

canvas,
img,
svg {
    border: 0 none;
}

canvas {
    z-index: 1;
}

#canvas {
    background-image: url("../images/Berge.svg");
    background-repeat:no-repeat;
    background-position:50% 100%;
    background-size: 100%;
    vertical-align: middle;
}

#buttonNext {
    position: absolute;
    bottom: 20%;
    left: 40%;
    z-index: 9999999;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*background-color: rgba(255, 100, 100, 0.8);
    border: 1px solid #000;
    */
    background-color: transparent;
    border: 0 none;
    color: #000;
    padding: 0.5em 0.75em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.5em;
}

.controlls {
    margin: 10px;
}