html {
    color: #000;
    font-size: 1em;
    line-height: 1.4em;
}


/*
 * Remove the gap between canvas, images and the bottom of their containers:
 */

canvas,
img,
svg {
    vertical-align: middle;
    border: 0 none;
}

#canvas {
    background-image: url("../images/Berge.svg");
    background-size: 100%;
    width: 90%;
}